{% extends 'base.html.twig' %}

{% block title %}Création{% endblock %}

{% block body %}							
    <div id="galerie">        
        <div class="galerie_cadre">
            {% for creation in creations %}
                <a href='#' 
                data-bs-toggle='modal' 
                data-bs-target='#creationModal' 
                data-get-creation-image="{{ creation|image }}"
                data-get-creation-title="{{ creation.title }}">
                    <img src="{{ creation|image }}" alt="{{ creation.title }}">           
                </a>       
            {% endfor %}     
        </div>
        
        {# Modal #}
        <div class="modal fade" id="creationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="creationModalTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header"> 
                        <h5 class="modal-title w-100 creation_modal_title" id="creationModalTitle"></h5>                       
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="creation_modal_body"> 
                        <img class="modal-content" src="" alt="">
                    </div>                 
                </div>
            </div>
        </div>
					
    </div>							
    
{% endblock %}
