{% extends 'base.html.twig' %}

{% block title %}Création{% endblock %}

{% block body %}							
    <div id="galerie">
        <div class="galerie_affichage">														
        </div>
        <div class="galerie_cadre">
            <img src="img/créations/tdp_1.jpg" alt="Four à pain">
            <img src="img/créations/tdp_2.jpg" alt="Four à pain">
            <img src="img/créations/tdp_3.jpg" alt="Four à pain">
            <img src="img/créations/tdp_4.jpg" alt="Four à pain">
            <img src="img/créations/tdp_5.jpg" alt="Four à pain">
            <img src="img/créations/tdp_6.jpg" alt="Four à pain">
            <img src="img/créations/tdp_7.jpg" alt="Four à pain">
            <img src="img/créations/tdp_8.jpg" alt="Four à pain">
            <img src="img/créations/tdp_9.jpg" alt="Four à pain">
            <img src="img/créations/tdp_10.jpg" alt="Four à pain">
            <img src="img/créations/tdp_11.jpg" alt="Four à pain">
            <img src="img/créations/tdp_12.jpg" alt="Four à pain">
            <img src="img/créations/tdp_13.jpg" alt="Four à pain">
            <img src="img/créations/tdp_14.jpg" alt="Four à pain">
            <img src="img/créations/tdp_15.jpg" alt="Four à pain">
            <img src="img/créations/tdp_16.jpg" alt="Four à pain">
            <img src="img/créations/tdp_17.jpg" alt="Four à pain">
            <img src="img/créations/tdp_18.jpg" alt="Four à pain">
            <img src="img/créations/tdp_19.jpg" alt="Four à pain">
            <img src="img/créations/tdp_20.jpg" alt="Four à pain">
            <img src="img/créations/tdp_21.jpg" alt="Four à pain">
            <img src="img/créations/tdp_22.jpg" alt="Four à pain">
            <img src="img/créations/tdp_23.jpg" alt="Four à pain">
            <img src="img/créations/tdp_24.jpg" alt="Four à pain">														
        </div>						
    </div>							
    
{% endblock %}
