<div class="empty_command">
    <div class="empty_command_title">
        Vous n'avez aucune commande
    </div>
    <div class="empty_cart_box">
        <div class="empty_cart">						
            <i class="fas fa-cart-arrow-down caddie"></i>
        </div>  
    </div>
    <div class="back_shop">
        <a class="btn btn-danger btn-red" href="{{ path('shop') }}">Voir la boutique</a>
    </div>
</div>