{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}


<div>
    {% if app.user %}
        <h3 class="text-center my-1">Bonjour {{ app.user.name }} {{app.user.lastname}}</h3>
    {% endif %}    
    <div class="text-center mt-3">        
        {% block content %}
        
        {% endblock %}        
    </div>
</div>


{% endblock %}
