{% extends 'base.html.twig' %}

{% block title %}Bonjour {% endblock %}

{% block body %}


<div>
    {% if app.user %}
        <h1 class="text-center my-1">Bonjour {{ app.user.name|capitalize }} {{app.user.lastname|upper }}</h1>
    {% endif %}    
    <div class="text-center mt-3">        
        {% block content %}
        
        {% endblock %}        
    </div>
</div>


{% endblock %}
