{% extends 'base.html.twig' %}

{% block title %}Gestion des Menus{% endblock %}

{% block body %}

    <h5 class="mb-3">Mes menus</h5>


    <a class ="btn btn-danger btn-red" href="{{ path('images_home') }}">Voir les images d'accueil</a>
{% endblock %}
