{% extends 'base.html.twig' %}

{% block title %}Bougeoir{% endblock %}

{% block body %}
    <div class="container">                    	
        <div class="containerBoutique">
            <h3>Bougeoir</h3>                        					
            <div class="articleBoutique"> 
        
                {% for article in articles %}
                    <div class="article">                          
                        <div class="article_photo">
                            <img src="{{ article.image }}">
                        </div>
                        <div class="prix">
                            <div class="nom_article">
                                <p>{{ article.title }}</p>
                            </div>
                            <div class="achat">
                                <div class="achat_prix">
                                    <p>{{ article.prix }} €</p>
                                </div>                                        
                                <div class="achat_btn">                                            
                                    <button>
                                        Acheter
                                    </button>                                            
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <div class="article">                          
                    <div class="article_photo">
                        <img src="img/boutique/bougeoir/yingyang.jpg">
                    </div>
                    <div class="prix">
                        <div class="nom_article">
                            <p>- Ying-Yang -</p>
                        </div>
                        <div class="achat">
                            <div class="achat_prix">
                                <p>30 €</p>
                            </div>                                        
                            <div class="achat_btn">
                                <form>
                                    <button>
                                        Acheter
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="article">                          
                    <div class="article_photo">
                        <img src="img/boutique/bougeoir/videpoche(1).jpg">
                    </div>
                    <div class="prix">
                        <div class="nom_article">
                            <p>- Vide-poche Granit -</p>
                        </div>
                        <div class="achat">
                            <div class="achat_prix">
                                <p>65 €</p>
                            </div>                                        
                            <div class="achat_btn">
                                <form>
                                    <button>
                                        Acheter
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="article">                          
                    <div class="article_photo">
                        <img src="img/boutique/bougeoir/bougeoirx4(1).jpg">
                    </div>
                    <div class="prix">
                        <div class="nom_article">
                            <p>- Bougeoir Avent -</p>
                        </div>
                        <div class="achat">
                            <div class="achat_prix">
                                <p>40 €</p>
                            </div>                                        
                            <div class="achat_btn">
                                <form>
                                    <button>
                                        Acheter
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>                   
                                            
            </div>
        </div>
    </div>	
{% endblock %}
