{% extends 'base.html.twig' %}

{% block title %}Bougeoir{% endblock %}

{% block body %}                   	
    <div class="containerBoutique">
        <h3>Bougeoir</h3>                        					
        <div class="articleBoutique"> 
    
            {% include "boutique/_articleCard.html.twig" %}

        </div>
    </div>
{% endblock %}
