<footer>
			<div class="footer">
				<div id="favicon">
					<a href="https://www.facebook.com/qbeck1"><img src="{{ asset('img/icons/share_facebook.png') }}" alt="Partage Facebook"></a>
					<a href="https://www.instagram.com/quentin_sculpture/"><img src="{{ asset('img/icons/share_instagram.png') }}" alt="Partage instagram"></a>
				</div>
				<div id="contact">
					<a href="{{ path('contact') }}">
						<div class="contact_titre">Contact</div>
						<div class="contact_mail">sculptureQuentinBECK@gmail.com</div>
						<div class="contact_telephone">07.70.70.70.30</div>
					</a>				
				</div>
				<div class=copyrights >
					<div class="copyrights_cgv">
						<p>
							© Copyright. Tous droits réservés.
						</p>
						
						<a href="#"
							class="cgv mb-3" 
							data-bs-toggle="modal" 
							data-bs-target="#cgvModal">
								Termes et Conditions Générales de Ventes
						</a>

						{# Modal #}
						<div class="modal fade" id="cgvModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="creationModalTitle" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content bg-dark">
									<div class="modal-header"> 
										<h5 class="modal-title w-100" id="cgvModalTitle">Termes et Conditions Générales de Ventes</h5>                       
										<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body"> 
										<p>Conditions générales de ventes en écritures</p>
									</div>  
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>									
									</div>               
								</div>
							</div>
						</div>						
					</div>			
				</div>
			</div>
		</footer>