{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container">
				<div class="portfolio">
					<a href="Portfolio/portfolio.html" target="_blank">Voir mon Portfolio</a>
				</div>
				
				<div class="titre_accueil">
							
					<div class="titre_accueil_flex">
						<h3>Sculpture de fleuron fleur de Lys pour fontaine de village</h3>
					</div>
				</div>

				<div class="carousel">			
					<div class="cadre">
						<div class="photo_left">							
							<i class="fas fa-arrow-left precedent nightmode_on_rond">
								<div class="rond">								
								</div>
							</i>							
						</div>
						<div class="slideshow">
							<ul>
								<li><img src="img/Fleuron/Fleuron.jpg" alt="" width="450" height="450" /></li>
								<li><img src="img/Fleuron/Fleuron2.jpg" alt="" width="450" height="450" /></li>
								<li><img src="img/Fleuron/Fleuron3.jpg" alt="" width="450" height="450" /></li>
								<li><img src="img/Fleuron/Fleuron4.jpg" alt="" width="450" height="450" /></li>
								<li><img src="img/Fleuron/Fleuron5.jpg" alt="" width="450" height="450" /></li>
								<li><img src="img/Fleuron/Fleuron6.jpg" alt="" width="450" height="450" /></li>
								<li><img src="img/Fleuron/Fleuron7.jpg" alt="" width="450" height="450" /></li>
							</ul>
						</div>                        
						<div class="photo_right">
							<i class="fas fa-arrow-right suivant nightmode_on_rond">
							</i>
						</div>
					</div>	
				</div>
			</div>


{% endblock %}


