/*----------------Marge à 0 !!!!-------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*------------Ajouter police-------------*/
@font-face {
  font-family: "stonecrossregular";
  src: url("fonts/stonecross/stonecross-webfont.woff2") format("woff2"),
    url("fonts/stonecross/stonecross-webfont.woff") format("woff");
}

/*---------Elements de la page---------------*/
body {
  /* background: url("../img/background/fond_1.jpg") fixed no-repeat;
  background-size: cover;
  -webkit-background-size: cover; */
  background-color: #6e3930;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #edebeb;
}
html {
  font-size: 16px;
}

/*-----------HEADER----------*/
#toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}
#toolbar a {
  text-decoration: none !important;
}
#titre_principale {
  display: flex;
  flex-direction: column;
}
/*-----------GENERAL--------*/
h1 {
  color: #8a2a2d;
  font-size: 3.3em;
  font-family: Constantia, fantasy, sans-serif;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
}
h2 {
  color: #edebeb;
  text-shadow: rgba(0, 0, 0, 0.3) 2px 4px 3px;
  font-family: stonecrossregular, cursive, sans-serif;
  font-size: 1.5rem;
}
h3 {
  color: #707070;
  font-size: 1.6em;
  font-family: "Ubuntu", sans-serif;
  padding: 1.5rem;
  text-align: center;
}

h4/*titre boutique*/ {
  color: #edebeb;
  text-align: center;
  font-size: 1.3em;
}
h5/*titre rubrique*/ {
  color: #edebeb;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
.table th,
.table td {
  color: #fff;
}
/*---My Bootsrtap---*/
.btn-blue {
  background-color: rgb(1, 71, 174) !important;
}
.btn-blue:hover {
  background-color: #212121 !important;
  animation: growUp 1s forwards;
}
.btn-green {
  background-color: #198754 !important;
}
.btn-green:hover {
  background-color: #212121 !important;
  animation: growUp 1s forwards;
}
.btn-red {
  background-color: #8a2a2d !important;
}
.btn-red:hover {
  background-color: #212121 !important;
  animation: growUp 1s forwards;
}

/*-------------------------MENU-------------------*/
nav {
  margin-right: 2%;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav a {
  text-decoration: none;
  color: #edebeb;
  font-size: 1.1em;
}
nav li {
  padding: 5px 20px;
  color: #edebeb;
  font-size: 1.1em;
  border-radius: 3px;
  border: 2px solid rgba(0, 0, 0, 0);
  position: relative;
}

nav li:hover {
  background-color: #212121;
  border-radius: 3px;
  box-shadow: 5px 5px 15px black;
  border: 2px solid #8a2a2d;
  opacity: 0.9;
  animation: growUp 0.8s;
}
nav li a:hover {
  color: #edebeb;
  text-decoration: none;
}
.selected_page {
  border: 2px solid #8a2a2d;
  background-color: #8a2a2d;
  border-radius: 3px;
  box-shadow: 5px 5px 15px black;
}
/*-----Menu deroulant----*/
.arrow_down {
  padding-left: 7px;
}
nav ul li ul {
  display: none;
}
nav ul li:hover ul {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #8a2a2d;
}
nav li {
  position: relative;
  z-index: 50;
}
nav li ul {
  position: absolute;  
  z-index: 50;
  transform: translate(-15%);
  background-color: #212121;
  border-radius: 5px;
}
nav li ul li:hover {
  border: 2px solid #8a2a2d;
}
/*------nightmode-----*/
.nightmode_flex {
  position: absolute;
  top: 8px;
  right: 8px;
}
.nightmode {
  opacity: 0;
  position: absolute;
}
.nightmode:checked + .select_nightmode .ball {
  transform: translateX(24px);
}
.select_nightmode {
  cursor: pointer;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  height: 26px;
  width: 50px;
}
.ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  transition: transform 0.25s linear;
}
.fa-moon {
  color: #f2b705;
}
.fa-sun {
  color: #f2b705;
}
.nightmode_on_black {
  background-color: #111 !important;
}
.nightmode_off_white {
  background-color: #fff !important;
}
.nightmode_off_black {
  color: #212121 !important;
}
.nightmode_on_white {
  color: #fff !important;
}
.nightmode_off_red {
  background-color: #8a2a2d;
}

/*---Cart---*/
.shopping_cart_li {
  position: relative;
}
.cart_counter {
  padding: 0px 5px 1px;
  border-radius: 10px;
  background-color: #212121;
  color: #edebeb;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*--------------Accueil---------*/
.container {
  background-color: #212121;
  max-width: 100% !important;
}
#titre_principale h1{
  color: #edebeb;
}
.titre_accueil {
  display: flex;
  justify-content: center;
}

/*-------------Portfolio----------*/
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio a {
  text-decoration: none;
  border: 2px solid #8a2a2d;
  background-color: #8a2a2d;
  box-shadow: 5px 5px 15px black;
  border-radius: 2px;
  color: #fff;
  margin: 50px;
  padding: 0.5rem 1.2rem;
}
.portfolio a:hover {
  border: 2px solid #8a2a2d;
  background-color: #212121;
  border-radius: 5px;
  box-shadow: 5px 5px 15px black;
  opacity: 0.9;
  animation: growUp 0.8s forwards;
}

/*-----------Carousel_Accueil----------*/
#carousel_home {
  width: 50%;
  padding-bottom: 50px;  
}
.carousel_home_box {
  display: flex;
  justify-content: center;
}
.carousel-indicators button {
  height: 5px !important;  
  background-color: #8a2a2d !important;
}
/*-Novelties-*/
.novelties_card_box {
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
}
.novelties_card_box a {
  text-decoration: none;
  color: #fff;
}
.novelties_card {
  background-color: #373737;
  height: 100%;
}
.novelties_card h5 {
  color: #fff !important;
}
.novelties_card:hover {
  cursor: pointer;
  animation: growUp 1s forwards;
}
.novelties_card_body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


/*--------------Galerie-----------*/
#galerie {
  padding: 30px 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.galerie_cadre a {
  text-decoration: none !important;
}
.galerie_cadre img {
  margin: 10px 4px 10px;
  height: 120px;
  width: 120px;
  border-radius: 100%;
}
.creation_modal_title,
.creation_modal_title button {
  color: #fff !important;
}
.creation_modal_body img {
  height: 450px;
  width: 450px;
}
.galerie_cadre img:hover {
  cursor: pointer;
  animation: slideInGalerie 0.7s forwards;
}

/*-----------Boutique----------*/
#boutique {
  display: flex;
  justify-content: center;
}
#boutique h5 {
  padding-bottom: 1rem;
  border-bottom: 1px solid #8a2a2d;
}
#bougeoir img,
#lampe img,
#sculpture img {
  border-radius: 2px;
  max-width: 300px;
  max-height: 300px;
}
#bougeoir,
#lampe,
#sculpture {
  margin: 1.5em;
  margin-bottom: 45px;
}

#bougeoir img:hover,
#lampe img:hover,
#sculpture img:hover {
  animation: growUp 0.8s;
}

/*-----------Categorie-Boutique----*/

.containerBoutique {
  padding: 0px 25px 25px;
}
.containerBoutique h3 {
  font-size: 30px;
  font-family: "UnifrakturMaguntia", "Times New Roman", Times, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}
.articleBoutique {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.article {
  width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #8a2a2d;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
}
.article_photo {
  width: 100%;
}
.article img:hover {
  animation: growUpp 0.8s forwards;
  cursor: pointer;
}
.prix {
  width: 100%;
  padding-top: 5px;
}
.achat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #707070;
}
.achat_prix {
  padding: 10px 0px;
  padding-left: 10px;
}
.achat_prix p {
  margin-top: 1rem;
}
.achat_btn  {  
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 5px; 
}
.achat_btn_voir {
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px; 
}
.achat_btn button:hover {
  animation: growUp 1s forwards;
  cursor: pointer;
}
/*-Vue Article-*/

.vue_article {
  width: 50%;
}
.vue_article_return img {
  padding: 10px;
}
.vue_article_miniature {
  height: 200px;
  width: 200px;
}
.vue_article_miniature:hover {
  cursor: pointer;
  animation: growUp 1s forwards;
}
.vue_article_miniature_cadre {  
  padding: 10px;
}
.vue_achat {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #707070;
}
.delete_image_article {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  font-size: 1.5rem;
}
.delete_image_article a {
  color: #212121;
  border: 1px solid;
}

/*------Commander----*/
.commander_article {
  width: 50%;
}
.command_btn {
  display: flex;
  flex-direction: column;
}
.confirm_command {
  width: 80%;
}
.command_active {
  border: 4px solid #A12868 !important;
}
.empty_command {
  font-size: 5rem;
}
.command_description ul{
 list-style-type: none;
}


/*-----------------------Contact---------------------*/
.contact {
  display: flex;
}
.contact_left {
  width: 50%;
  height: 100%;
}
.contact_right {
  width: 50%;
  height: 100%;
}
.contact_left_photo img {
  padding: 20px;
  height: 400px;
  width: auto;
}
.contact_bottom_texte {
  text-align: center;
  padding: 20px;
}
.contact_right_texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact_right_texte_info {
  line-height: 50px;
}

/*--------------CONEXION----------*/
#conexion h5 {
  padding: 20px;
}

.btn_conexion {
  color: #fff;
  background-color: #8a2a2d;
}
.btn_conexion a {
  text-decoration: none;
  color: #edebeb;
  background-color: #8a2a2d;
}
.btn_conexion a:hover {
  color: #212121;
}
/*--------Inscription------*/
.inscription_form {
  display: flex;
  justify-content: center;
}
.btn_profil {
  text-decoration: none;
  color: #fff;
}

/*-------------------PANIER-------------*/
.empty_command {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty_command_title {
  font-size: 2.2rem;
  height: 50px;
  color: #edebeb;
  margin: 2rem;
}
.empty_cart_box {
  display: flex;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #8a2a2d;
  border-bottom: 1px solid #8a2a2d;
}
.empty_cart {
  padding: 40px;
  font-size: 150px;
}
.back_shop {
  margin: 40px;
}
.back_shop a {
  font-size: 2rem;
  color: #edebeb;
  background-color: #8a2a2d;
  border: 1px solid black;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  padding: 1rem 2rem;
  box-shadow: 5px 5px 15px black;
}

/*-------MENUS----*/
.images_home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.images_home_action {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
/*-----------------------Footer-----------------------*/

#favicon {
  margin: 10px 20px;
}
#favicon img {
  height: 40px;
  width: 40px;
}
#contact {
  margin: 10px 20px;
  border: 2px solid #707070;
  width: 280px;
  border-radius: 5px;
}
#contact a {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  text-decoration: none;
}
#contact:hover {
  background-color: #212121;
  opacity: 0.7;
}
.contact_titre {
  font-size: 1.7rem;
  padding: 10px 0 20px 10px;
}
.contact_mail {
  padding: 0 0 10px 10px;
}
.contact_telephone {
  padding: 0 0 20px 10px;
}

.copyrights_cgv {
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  text-decoration: none;
  margin: 10px 20px;
}
.copyrights_cgv p {
  display: flex;
  align-items: center;
}
.cgv {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #707070;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyrights_cgv a:hover {
  color: #fff;
  background-color: #212121;
  opacity: 0.7;
}

/*--IMG RATIO--*/
.img-ratio {
  position: relative;
  z-index: 1;
}
.img-ratio:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: var(--ratio);
}
.img-ratio > .img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.img-ratio > .img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*KEYFRAMES*/
@keyframes agrandirRondBlanc {
  from {
    transform: scale(0);
    border: 0px solid #fff;
  }
  to {
    transform: scale(1);
    border: 1px solid #fff;
  }
}
@keyframes agrandirRondNoir {
  from {
    transform: scale(0);
    border: 0px solid #111;
  }
  to {
    transform: scale(1);
    border: 1px solid #111;
  }
}
@keyframes growUppp {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes growUpp {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes growUp {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slideInGalerie {
  from {
    transform: scale(1);
    border-radius: 100%;
  }
  to {
    transform: scale(1.1);
    border-radius: 0%;
  }
}