{% extends 'base.html.twig' %}

{% block title %}Lampe{% endblock %}

{% block body %}
    <div class="containerBoutique">
        <h3>Lampe</h3>                        					
        <div class="articleBoutique"> 

            {% include "boutique/_articleCard.html.twig" %}
                                        
        </div>
    </div>    
{% endblock %}
