{% extends 'base.html.twig' %}

{% block title %}Sculpture{% endblock %}

{% block body %}                  	
    <div class="containerBoutique">
        <h3>Sculpture</h3>         

        <div class="articleBoutique">
            {% include "shop/_articleCard.html.twig" %}                                   
        </div>
    </div>
{% endblock %}
