{% if is_granted('ROLE_ADMIN') %}
    <div class="d-flex">
        <a class="me-1 btn btn-primary"href="{{ path('update_article', {id: article.id}) }}">
            <i class="fas fa-pen"></i>
        </a>                   
        <a class="me-1 btn btn-danger" href="{{ path('delete_article', {id: article.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer cet article ?')">
            <i class="fas fa-trash"></i>
        </a> 
    </div>  
{% else %}
    <div class="achat_btn">                                                                
        <a href="{{ path('command_article', {id: article.id}) }}">
            <button>
                Commander
            </button>  
        </a>
    </div>                              
{% endif %}