<header style="align-content: center;">
    <b>BECK Quentin Sculpture</b><br>
</header>

{% block body %}{% endblock %}

<br><br>
<footer style="align-content: center;">
    <a href="https://www.instagram.com/quentin_sculpture/">Instagram</a><br>
    <a href="">Facebook</a><br>
    <a href="http://www.sculpturequentinbeck.fr/">Site Internet</a><br>
</footer>